@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Noto Sans KR', system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

@source inline('border-{red,orange,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,fuchsia,pink,rose,purple,stone,zinc,gray}-300');
@source inline('bg-{red,orange,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,fuchsia,pink,rose,purple,stone,zinc,gray}-100');

.word-wrap-only-space {
  white-space: normal;
  word-break: keep-all;     /* 단어 단위 줄바꿈 (띄어쓰기 기준) */
}